/**
 * janelia theme for reveal.js. This is based on the 'white' theme.
 *
 * By Chris Barnes, https://github.com/clbarnes
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Colours used by Beamer theme
$HHMIBlue: #058d96;
$HHMIBlack: #000;
$HHMIGreenA: #8ac341;
$HHMIGreenB: #2da948;
$HHMIWhite: #fff;
$HHMIGrayA: #838286;
$HHMIGrayB: #aaaaaa;
$HHMIGrayC: #dcdcdc;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.0em;
$heading2Size: 1.3em;
$heading3Size: 1.0em;
$heading4Size: 1.0em;

section {
	word-spacing: 0.25em;
}

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

section.title-slide {
	@extend .has-dark-background;
	text-align: left;
}

section:not(.title-slide) {
	h1 {
		width: 100%;
		//position: fixed;
		top: 0;
		left: 0;
		text-align: left;
		border-bottom-color: $HHMIGreenB;
		border-bottom-style: solid;
		border-bottom-width: thick;
		margin-bottom: 1em;
	}
}

.reveal .progress {
	height: 15px;
	background-color: $HHMIGrayB;
	.reveal .progress span {
		background-color: $HHMIGreenB;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------